.site-main-container
  $animation-duration: .3s

  position: relative
  padding-top: $v-site-navibar-height
  min-height: 100vh
  transition: margin-left $animation-duration, transform $animation-duration
  &.sidebar-is-opened
    &:before
      display: block
      content: ''
      position: absolute
      top: 0
      width: 100%
      height: 100%
      background-color: rgba($black, .5)
      z-index: 999
    transform: translateX($v-site-sidebar-width)
    +from($ipad-pro)
      &:before
        display: none
      margin-left: $v-site-sidebar-width
      transform: none
  .breadcrumb
    font-size: $size-7
