.common-site-navbar-container
  $shadow-size: 8px

  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: index($elements, site-navibar)
  > .vc-common-site-navbar
    position: relative
    display: flex
    box-shadow: 0 0 $shadow-size $c-site-navibar-shadow
    text-align: center
