.common-site-navbar-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: index($elements, site-navibar)
  > .common-site-navbar
    position: relative
    display: flex
    box-shadow: 0 0 10px $c-site-navibar-shadow
    text-align: center
