.site-sidebar
  $header-height: 52px
  $sidebar-height: calc(100vh - 52px)

  position: fixed
  left: 0
  top: $header-height
  width: 180px
  height: $sidebar-height
  padding: 1rem 0
  padding-left: 0.5rem
  font-size: .8rem
  border-right: 1px solid lighten($dark, 50)
  background-color: $white
  z-index: 9998
