.vc-product-edit-form
  @extend %is-form

  .section
    padding-left: 0
    padding-right: 0

  .tabs ul
    justify-content: center
  .tab-content
    border: 1px solid #dbdbdb
    border-top: none

  .preview-container
    display: none
    +from($iphone-plus)
      display: block
