.vc-product-edit-form
  $divider-color: darken($light, 10)

  @extend %is-form

  .section:not(:last-of-type)
    border-bottom: 1px solid $divider-color

  .tabs ul
    justify-content: center
  .tab-content
    border: 1px solid #dbdbdb
    border-top: none
