.common-site-navbar
  $toggle-btn-size: 44px
  $toggle-btn-offset: .5rem

  > .nav-left,
  > .nav-center,
  > .nav-right
    display: flex
    flex: 1
    align-items: center
  > .nav-left
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 0
  > .nav-center
    flex-grow: 0
    flex-shrink: 0
  > .nav-right
    justify-content: flex-end
  .sidebar-toggle
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    width: $toggle-btn-size
    height: $toggle-btn-size
    +from($ipad-pro)
      display: none
  .options-btn
    margin-right: $toggle-btn-offset
    &.is-active .button
      background-color: $c-site-navibar-option-btn-active
  .dropdown-item
    text-align: left
