.common-site-sidebar
  position: fixed
  left: 0
  top: $v-site-navibar-height
  width: $v-site-sidebar-width
  height: $v-site-sidebar-height
  padding: 1rem 0
  font-size: $size-7
  border-right: 1px solid $c-site-sidebar-border
  background-color: $c-site-sidebar-background
  box-shadow: 0 0 5px lighten($c-site-navibar-shadow, 30)
  overflow-y: auto
  z-index: index($elements, site-sidebar)
  animation-duration: .3s
