=retina
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)
    @content

=testbg
  background-color: rgba($black, .3) !important

=bg-image($image_url: '')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  @if $image_url != ''
    background-image: url(#{$image_url})

// 垂直置中
%is-flex-vc
  display: flex
  align-items: center

// 垂直水平置中
%is-flex-vc-hc
  display: flex
  align-items: center
  justify-content: center

// 撐滿 parent element
%full-filled-inner-block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

// admin UI list table
%has-list-table
  .options > span
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    .option-button
      margin-bottom: .2rem
    .option-button:not(:first-child)
      margin-left: .2rem

%has-thumb-in-table
  .table td
    vertical-align: middle

  .thumb-wrapper
    $size: 64px

    width: $size
    height: $size

%has-banner-uploader
  .image-wrapper
    position: relative
    margin: 0 auto
    > .current-image
      display: block
      box-shadow: 0 0 5px rgba($black, .5)
    > .update-image-trigger
      padding: 0.5rem 0
      background-color: $info
      text-align: center
      color: $white
      cursor: pointer
      +from($ipad-pro)
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba($black, .8)
        opacity: 0
        transition: .3s opacity
        &:hover
          opacity: 1
  .croppa-container
    position: relative
    > canvas
      width: 100% !important
      height: auto !important
      border: 3px dashed $grey
    > .icon-remove
      position: absolute
      background-color: $white
      border-radius: 100px
      box-shadow: 0 0 5px rgba($black, .5)
      transition: .3s box-shadow
      &:hover
        box-shadow: 0 3px 8px rgba($black, .5)
    &.croppa--has-target
      canvas
        border: none
        box-shadow: 0 0 5px rgba($black, .5)

// markdown container fix
%markdown-body-fix
  ul
    list-style-type: disc

// for form extra styles
%is-form
  $divider-color: darken($light, 10)

  .required
    > .label:after
      content: '*'
  .section-title
    font-size: $size-6
    font-weight: bolder
    margin-bottom: $size-6
  .sub-title
    font-size: $size-7
    font-weight: bolder
    margin-bottom: $size-7
    text-align: center
  .section:not(:last-of-type)
    border-bottom: 1px solid $divider-color

// rounded control button
%control-button-style
  position: absolute
  top: -.5rem
  width: 1.5rem
  height: 1.5rem
  color: $white
  text-align: center
  border-radius: 100%

// product customized property field styles
%is-product-customization-property-field
  $gap: .5rem

  position: relative
  background-color: $light
  padding: $size-6
  margin-bottom: $size-6
  border-radius: 8px
  &:last-of-type
    margin-bottom: $gap
  > .counter
    @extend %control-button-style
    left: -$gap
    background-color: $grey
  > .delete-button
    @extend %control-button-style
    right: -$gap
    background-color: $danger
    box-shadow: 0 0 2px $dark
    transition: box-shadow .3s
    cursor: pointer
    &:hover
      box-shadow: 0 0 5px $black

%product-variant-unit-basic-style
  @extend %is-product-customization-property-field

  .basic-info
    padding-bottom: .5rem
    margin-bottom: 0.5rem
    border-bottom: 1px solid darken($light, 10)
    font-weight: $weight-bold
    text-align: center
    > .name
      margin-right: 0.5rem

  .info-unit
    > .label
      font-size: $size-7
    &:not(:last-child)
      margin-bottom: 0.5rem

  .option-values
    > .tag
      border: 1px solid darken($light, 10)
    &:not(:last-child)
      margin-right: 0.5em

%has-lazyload
  &[lazy="loading"]
    +loader
    animation: spinAround 500ms infinite linear
    position: absolute
    top: calc(50% - .5em)
    left: calc(50% - .5em)

%has-quill-editor
  .ql-snow .ql-picker.ql-size
    .ql-picker-item[data-value="small"]::before,
    .ql-picker-label[data-value="small"]::before
      content: '小字'
    .ql-picker-item::before,
    .ql-picker-label::before
      content: '一般'
    .ql-picker-item[data-value="large"]::before,
    .ql-picker-label[data-value="large"]::before
      content: '大字'
    .ql-picker-item[data-value="huge"]::before,
    .ql-picker-label[data-value="huge"]::before
      content: '巨大'
  .ql-snow .ql-picker.ql-header
    .ql-picker-label::before,
    .ql-picker-item::before
      content: '內文'
    .ql-picker-label[data-value="1"]::before,
    .ql-picker-item[data-value="1"]::before
      content: '大標題'
    .ql-picker-label[data-value="2"]::before,
    .ql-picker-item[data-value="2"]::before
      content: '副標題'
    .ql-picker-label[data-value="3"]::before,
    .ql-picker-item[data-value="3"]::before
      content: '次標題'
