.vc-product-image-editable-unit
  $gap: .25rem

  padding: $gap

  .image-container
    position: relative
    > .image
      display: block
    > .delete-button
      $size: 25px

      padding: 0.2rem 0
      +from($ipad-pro)
        position: absolute
        right: -$size/3
        top: -$size/3
        width: $size
        height: $size
        border-radius: 100%
        &:hover
          box-shadow: 0 0 8px rgba($black, .7)
    > .edit-trigger
      padding: 0.5rem 0
      background-color: $info
      color: $white
      +from($ipad-pro)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba($black, .8)
    &:hover,
    &:focus
      +from($ipad-pro)
        > .edit-trigger
          opacity: 1
        > .delete-button
          display: flex

  .edit-trigger
    @extend %is-flex-vc-hc
    transition: opacity, .3s
    cursor: pointer
    +from($ipad-pro)
      opacity: 0
      font-size: $size-3

  .delete-button
    @extend %is-flex-vc-hc
    background-color: $danger
    cursor: pointer
    +from($ipad-pro)
      display: none
    > .fa
      font-size: $size-5
      color: $white
