.vc-common-site-sidebar-list-item-with-submenus
  $submenu-offset: .6rem
  $animation-duration: .2s

  @extend .common-site-sidebar-list-item

  > .submenu-list
    margin: 0
    margin-left: $submenu-offset
    overflow: hidden

  .list-item-link
    > .submenu-active-indicator
      transition: all $animation-duration
      &.is-active
        transform: rotate(90deg)
        color: $info
      .fa
        font-size: $size-5

  .submenu-list-link
    position: relative
    > .icon
      visibility: hidden
      position: absolute
      top: 4px
      left: -12px
      color: $c-site-sidebar-submenu-link-active
      &.is-active
        visibility: visible
